
.container {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 2fr;
    width: min(750px, 95vw);
    height: 95vh;
    background-color: #6799c2;
    opacity: 0.78;
    margin: 0;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: clamp(200px, 100%, 300px);
}

.button {
    width: fit-content;
}
